<div class="jumbotron">
    <h2>Hello, {{userInfo.firstName}} {{userInfo.lastName}}!</h2>
    <hr/>
    <p>Username: {{userInfo.username}}</p>
    <p>First Name: {{userInfo.firstName}}</p>
    <p>Last Name: {{userInfo.lastName}}</p>
    <p>Profession: {{userInfo.profession}}</p>
</div>
<p>Biography: {{userInfo.bio}}</p>